<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
      <?php if ($_SESSION['role'] == "Adm") { ?>     
            <li class="nav-item">
              <a href="?page=user" class="nav-link">
                <i class="nav-icon fas fa-user-check"></i>
                <p>User Data</p>
              </a>
            </li>
      <?php } ?>  
            <li class="nav-item">
              <a href="?page=mqtt" class="nav-link">
                <i class="fab fa-mixcloud"></i>
                <p>Testing MQTT</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="?page=http" class="nav-link">
                <i class="fas fa-server"></i>
                <p>Testing HTTP</p>
              </a>
            </li>           
        <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
          Jobsheet
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="../../index.html" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Jobsheet 1</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="../../index2.html" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Jobsheet 2</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="../../index3.html" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Jobsheet 3</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="../../index3.html" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Jobsheet 3</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="../../index3.html" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Jobsheet 3</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="../../index3.html" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Jobsheet 3</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="../../index3.html" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Jobsheet 3</p>
          </a>
        </li>
      </ul>
        </li>
        <li class="nav-item">
          <a href="logout.php" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>Log Out</p>
          </a>
        </li>
  </ul>
</nav>